.page-not{
  margin-top: 100px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-div{
  width: 400px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image-div img{
  width: 400px;
}

.pages-link-div{
  margin: 12px auto;
}

.pages-link{
  text-decoration: none;
  font-size: 1.5rem;
}